<main>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section>
    <div class="wrapper">
      <input
        type="password"
        placeholder="Password"
        (keyup)="onInputChange($event)"
      />
      <p>Password strength: {{ passwordStrength }}</p>

      <div
        class="strength"
        [ngClass]="{
          red:
            (passwordStrength === 'Weak' || passwordStrength === 'Easy') &&
            password.length > 0,
          gray:
            (passwordStrength !== 'Medium' &&
              passwordStrength !== 'Strong' &&
              passwordStrength !== 'Weak') ||
            password.length === 0,
          green: passwordStrength === 'Strong',
          yellow: passwordStrength === 'Medium' && password.length > 0
        }"
      >
        <p>Easy</p>
      </div>
      <div
        class="strength"
        [ngClass]="{
          red: passwordStrength === 'Weak',
          yellow: passwordStrength === 'Medium' && password.length > 0,
          gray:
            (passwordStrength !== 'Medium' && passwordStrength !== 'Strong') ||
            password.length === 0,
          green: passwordStrength === 'Strong'
        }"
      >
        <p>Medium</p>
      </div>
      <div
        class="strength"
        [ngClass]="{
          red: passwordStrength === 'Weak',
          gray:
            (passwordStrength !== 'Medium' &&
              passwordStrength !== 'Strong' &&
              passwordStrength !== 'Weak') ||
            (passwordStrength === 'Medium' && password.length > 0),
          green: passwordStrength === 'Strong'
        }"
      >
        <p>Strong</p>
      </div>
    </div>
  </section>
</main>
